  
  .faqTitle {
    color: #20396E;
    margin-top: 50px;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .faqItem {
    margin-bottom: 32px;
  }
  
  .faqQuestion {
    width: 100%;
    background-color: #fff;
    color: rgba(24, 76, 161, 1);
    padding: 30px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
  }
  
  .faqQuestion:hover {
    border: 1px solid rgba(24, 76, 161, 1);
  }
  
  .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(90deg);
  }
  
  .faqAnswer {
    display: none;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 0 0 8px 8px;
    border: 1px solid #5e17eb;
    border-top: none;
    margin-top: -10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .faqAnswer p {
    margin: 0;
    font-size: 17px;
    color: black; 
    font-weight: 500;
    line-height: 27px;
  }
  
  .show {
    display: block;
  }
  
  /* Media Query for Mobile Devices (below 640px) */
  @media screen and (max-width: 640px) {
    .faqContainer {
      width: 90%; /* Adjust width for smaller screens */
      padding: 40px 16px; /* Adjust padding */
    }
    
    .faqTitle {
      font-size: 28px; /* Reduce title size */
      line-height: 36px;
      margin-bottom: 20px;
    }
    
    .faqQuestion {
      padding: 20px; /* Reduce padding for questions */
      font-size: 16px;
      line-height: 18px;
    }
  
    .faqAnswer {
      padding: 10px 15px; /* Reduce padding for the answer */
    }
    
    .faqAnswer p {
      font-size: 13px; /* Adjust answer text size */
    }
  }
  
  /* Media Query for Very Small Devices (below 480px) */
  @media screen and (max-width: 480px) {
    .faqContainer {
      width: 100%;
      padding: 30px 10px;
    }
    
    .faqTitle {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 15px;
    }
    
    .faqQuestion {
      padding: 15px;
      font-size: 15px;
      line-height: 16px;
    }
  
    .faqAnswer {
      padding: 8px 12px;
    }
  
    .faqAnswer p {
      font-size: 12px;
    }
  }
  